@model kheoom.ViewModels.BlockVM

@{
    ViewData["Title"] = "اضافة عقار";
}

<h1 style="background-color:cornflowerblue;border-radius:5px;color:greenyellow"> اضافة عقار</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBlock">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlockId" class="control-label"></label>
                <input asp-for="BlockId" class="form-control" />
                <span asp-validation-for="BlockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="اضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home" style="background-color:cornflowerblue;border-radius:5px;color:greenyellow">رجوع </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
