@{
    ViewData["Title"] = "الرئيسية";
}
<style>
    h1{color:chartreuse; font-family:Tahoma;font-weight:bold;font-size:x-large}

    p {
        color: red;
        font-family: Tahoma;
        font-weight: bold;
        font-size: large
    }
</style>
<div class="text-center">
    <h1 class="display-4">مرحبا بكم ...</h1>
    <p>مرحبا بكم في تسجيل وحساب فواتير المياة يمكنكم الان الحساب الالي بكل سهولة </p>
</div>
